Protocol 2

#SyslogFacility AUTH
SyslogFacility AUTHPRIV
#LogLevel INFO

StrictModes no
PasswordAuthentication yes
ChallengeResponseAuthentication no
KerberosAuthentication no
GSSAPIAuthentication no
#GSSAPIStrictAcceptorCheck no
UsePAM yes
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS
X11Forwarding yes

HostbasedUsesNameFromPacketOnly yes

Match Group hadoop
   HostbasedAuthentication yes
